<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.fietsenvoor.app" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FietsenVoor LIVE</name>
    <description>
       Volg je helden van Fietsenvoor.nl op weg naar de top!
    </description>
    <author email="michiel@hamaka.nl" href="http://www.hamaka.nl">
       Hamaka Utrecht
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

	<icon src="icon.png" gap:platform="ios" width="57" height="57" />
	<!--&lt;!&ndash;<icon src="fv-icon-128.png" width="128" height="128" />&ndash;&gt;-->
	<!--&lt;!&ndash;<icon src="icon-256.png" width="256" height="256" gap:role="default" />&ndash;&gt;-->
	<!--<icon src="icon-57.png" gap:platform="ios" width="57" height="57" />-->
	<!--<icon src="icon-120.png" gap:platform="ios" width="120" height="120" />-->
	<!--<icon src="icon-152.png" gap:platform="ios" width="152" height="152" />-->
	<!--<icon src="icon-114.png" gap:platform="ios" width="114" height="114" />-->
	<!--<icon src="icon-76.png" gap:platform="ios" width="76" height="76" />-->
    <!--<platform name="android">-->
        <!--<allow-intent href="market:*" />-->
    <!--</platform>-->
    <!--<platform name="ios">-->
        <!--<allow-intent href="itms:*" />-->
        <!--<allow-intent href="itms-apps:*" />-->
		<!--&lt;!&ndash; iOS 8.0+ &ndash;&gt;-->
		<!--&lt;!&ndash; iPhone 6 Plus  &ndash;&gt;-->
		<!--<icon src="www/img/fv-icons/fv-icon-180.png" width="180" height="180" />-->
		<!--&lt;!&ndash; iOS 7.0+ &ndash;&gt;-->
		<!--&lt;!&ndash; iPhone / iPod Touch  &ndash;&gt;-->
		<!--<icon src="www/img/fv-icons/fv-icon-60.png" width="60" height="60" />-->
		<!--<icon src="www/img/fv-icons/fv-icon-120.png" width="120" height="120" />-->
		<!--&lt;!&ndash; iPad &ndash;&gt;-->
		<!--<icon src="www/img/fv-icons/fv-icon-76.png" width="76" height="76" />-->
		<!--<icon src="www/img/fv-icons/fv-icon-152.png" width="152" height="152" />-->
		<!--&lt;!&ndash; iOS 6.1 &ndash;&gt;-->
		<!--&lt;!&ndash; Spotlight Icon &ndash;&gt;-->
		<!--<icon src="www/img/fv-icons/fv-icon-40.png" width="40" height="40" />-->
		<!--<icon src="www/img/fv-icons/fv-icon-80.png" width="80" height="80" />-->
		<!--&lt;!&ndash; iPhone / iPod Touch &ndash;&gt;-->
		<!--<icon src="www/img/fv-icons/fv-icon-57.png" width="57" height="57" />-->
		<!--<icon src="www/img/fv-icons/fv-icon-114.png" width="114" height="114" />-->
		<!--&lt;!&ndash; iPad &ndash;&gt;-->
		<!--<icon src="www/img/fv-icons/fv-icon-72.png" width="72" height="72" />-->
		<!--<icon src="www/img/fv-icons/fv-icon-144.png" width="144" height="144" />-->
		<!--&lt;!&ndash; iPhone Spotlight and Settings Icon &ndash;&gt;-->
		<!--<icon src="www/img/fv-icons/fv-icon-29.png" width="29" height="29" />-->
		<!--<icon src="www/img/fv-icons/fv-icon-58.png" width="58" height="58" />-->
		<!--&lt;!&ndash; iPad Spotlight and Settings Icon &ndash;&gt;-->
		<!--<icon src="www/img/fv-icons/fv-icon-50.png" width="50" height="50" />-->
		<!--<icon src="www/img/fv-icons/fv-icon-100.png" width="100" height="100" />-->
    <!--</platform>-->

    <!--<platform name="android">-->
        <!--<icon src="www/img/fv-icons/fv-icon-36.png" density="ldpi" />-->
        <!--<icon src="www/img/fv-icons/fv-icon-48.png" density="mdpi" />-->
        <!--<icon src="www/img/fv-icons/fv-icon-72.png" density="hdpi" />-->
        <!--<icon src="www/img/fv-icons/fv-icon-96.png" density="xhdpi" />-->
    <!--</platform>-->
</widget>